name = "barreto-realtor-cbnovac"
pages_build_output_dir = "./dist" 
compatibility_date = "2024-12-12" 

[placement]
mode = "smart"

# Configuración de la cuenta y zona de Cloudflare
account_id = "CLOUDFLARE_ACCOUNT_ID"
zone_id = "CLOUDFLARE_ZONE_ID"




[functions]
directory = "functions" # Asegúrate de que Wrangler detecte el directorio