---
// src/pages/confirmation.astro

import Layout from '@layouts/Layout.astro';




const meta = {
  title: "Correo enviado | Barreto - Agente Inmobiliario en CDMX, MX.",
  description: "Enmanuel Barreto, asesor inmobiliario en Coldwell Banker Novac...",
  url: "https://barretoads.dev",
  image: "",
  ogType: "website",
  ogLocale: "es_MX",
  noindex: true,  // Esta página no se indexará

};
---

<Layout {...meta}>



  <article class="">

    
    <h1 class="text-3xl font-bold text-center p-10">¡Gracias por tu mensaje!</h1>
  </article> 

</Layout>
