---
import Layout from '../layouts/Layout.astro';

const meta = {
  title: "Propiedades | Barreto - Agente Inmobiliario en CDMX, MX.",
  description:
    "Enmanuel Barreto, asesor inmobiliario en Coldwell Banker Novac, te ayuda a comprar, vender o rentar propiedades en Ciudad de México y Polanco. Contáctanos para encontrar la propiedad perfecta.",
  url: "https://barretoads.dev",
  image: "",
  ogType: "website",
  ogLocale: "es_MX",
};
---

<Layout {...meta}>
  
  
    <section class="bg-red-400">
		<h1>Hola Propiedades</h1>
	</section>


      
</Layout>