---
import Popup from "../../components/header/sub-components/Popup.astro";
import userData from "../../data/user.json";

const profileData = userData.profileData || {
  onlineStatusText: "Offline",
};


---
<!-- Header Section -->
<header 
  class="relative w-[29.1rem] h-64 -mb-28 flex flex-col items-center justify-start rounded-3xl shadow-lg overflow-hidden bg-cover bg-center bg-no-repeat before:absolute before:inset-0 before:bg-white/10 before:content-[''] before:pointer-events-none"
  style={`background-image: url(${profileData.headerImage.src});`}>
  
 
  <!-- Navegación dentro del Header -->
  <nav class="w-full m-0 p-2 h-12 flex items-center rounded-full z-10">
    <ul class="flex items-center justify-between w-[90%] max-w-4xl p-0 mx-auto">
      
      <!-- Item Izquierdo (Estado Online) -->
      <li class="flex items-center gap-2 bg-white text-bodydark font-semibold text-xs italic py-1 px-3 rounded-full shadow-md">
        <span class="h-2 w-2 bg-emerald-500 rounded-full animate-pulse" role="status">
          <span class="sr-only">{profileData.onlineStatusText}</span>
        </span>
        <span>{profileData.onlineStatusText}</span>
      </li>

      <!-- Item Derecho (Btn Popup) -->
      <li class="flex items-center">
          <a href="#popup" 
            class="flex items-center gap-2 bg-white text-bodydark font-medium text-xs p-2 rounded-md shadow-md hover:bg-bodydark hover:text-white transition-all"
            aria-label="Open QR Popup">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
              <path d="M16 17V16H13V13H16V15H18V17H17V19H15V21H13V18H15V17H16ZM21 21H17V19H19V17H21V21ZM3 3H11V11H3V3ZM5 5V9H9V5H5ZM13 3H21V11H13V3ZM15 5V9H19V5H15ZM3 13H11V21H3V13ZM5 15V19H9V15H5ZM18 13H21V15H18V13ZM6 6H8V8H6V6ZM6 16H8V18H6V16ZM16 6H18V8H16V6Z"></path>
            </svg>
          </a>
      </li>
    </ul>
  </nav>

  
<!-- Invocación del Componente Popup -->
<Popup 
  id="popup"
  title="QR Code"
  description="Escanea este código para acceder a más información."
/>

</header>



