---
const menuItems = [
  { label: 'Conóceme', href: '/' },
  { label: 'Propiedades', href: '/propiedades' },
  { label: 'Servicios', href: '/servicios' },
];

// Detecta la ruta activa
const currentPath = Astro.url.pathname;
---
<header class="header-container">
  <nav
    class="nav-container"
    itemscope
    itemtype="https://schema.org/SiteNavigationElement"
    role="navigation"
    aria-label="Navegación principal"
  >
    <ul class="nav-list">
      {menuItems.map(({ label, href }, i) => {
        const isActive = currentPath === href; // Verifica si es la ruta activa
        return (
          <li
            itemscope
            itemtype="https://schema.org/ListItem"
            itemprop="itemListElement"
          >
            <meta itemprop="position" content={String(i + 1)} />
            <a
              href={href}
              aria-current={isActive ? 'page' : undefined}
              class={`nav-link ${isActive ? 'active-link' : ''}`}
              itemprop="url"
              rel="prefetch"
            >
              <span itemprop="name">{label}</span>
            </a>
          </li>
        );
      })}
    </ul>
  </nav>
</header>

<style>
/* Contenedor del header */
.header-container {
  @apply p-4 flex flex-row justify-center items-center;
}

/* Contenedor del menú */
.nav-container {
  @apply bg-blue-800 p-2 flex justify-center items-center rounded-md w-[400px];
}

/* Lista del menú */
.nav-list {
  @apply flex list-none gap-2 m-0 p-0 items-center;
}

/* Estilo de los enlaces del menú */
.nav-link {
  @apply inline-block px-4 py-2 bg-blue-800 no-underline hover:bg-blue-900 font-bold hover:scale-105 transition-transform text-fontlight rounded-md;
}

/* Enlace activo (color rojo) */
.active-link {
  @apply outline outline-2 outline-black bg-green-400 text-white ;
}
</style>
