<div class="relative w-full max-w-4xl mx-auto my-6">
    <!-- Contenedor del Carrusel -->
    <div class="flex flex-row gap-4 overflow-x-auto snap-x snap-mandatory scroll-smooth">
      <!-- Video 1 -->
      <video
        controls
        muted
        loop
        playsinline
        preload="metadata"
        class="w-[85%] h-auto snap-start rounded-lg shadow-lg flex-shrink-0"
      >
        <source
          src="https://media.barretoads.dev/1-Analisis-Mercado-Inmobiliario-Barreto-Coldwell-Banker-NOVAC-CDMX-2025-MX.mp4"
          type="video/mp4"
        />
        Tu navegador no soporta videos.
      </video>
  
      <!-- Video 2 -->
      <video
        controls
        muted
        loop
        playsinline
        preload="metadata"
        class="w-[85%] h-auto snap-start rounded-lg shadow-lg flex-shrink-0"
      >
        <source
          src="https://media.barretoads.dev/3-Buscas-comprar-o-rentar-un-inmueble-CDMX-MX-Polanco.mp4"
          type="video/mp4"
        />
        Tu navegador no soporta videos.
      </video>
  
      <!-- Video 3 -->
      <video
        controls
        muted
        loop
        playsinline
        preload="metadata"
        class="w-[85%] h-auto snap-start rounded-lg shadow-lg flex-shrink-0"
      >
        <source
          src="https://media.barretoads.dev/4-Quieres-vender-o-rentar-tu-propiedad-CDMX-MX-World.mp4"
          type="video/mp4"
        />
        Tu navegador no soporta videos.
      </video>
    </div>
  
   
  </div>
  


