---
const currentYear = new Date().getFullYear();
---
<!-- Footer Section -->
<footer class="flex flex-col gap-2 w-full bg-neutral-900 py-8 rounded-3xl justify-center items-center">
    <p class="text-sm text-gray-400 text-center md:text-left">Asesoría inmobiliaria en CDMX | México.</p>
    <p>&copy; {currentYear} Barreto | Coldwell Banker Novac.</p>
    <p class="text-sm text-gray-400 text-center md:text-left">Todos los derechos reservados.</p>
  </footer>
