---
import Metahead from '../layouts/Metahead.astro';


interface Props {
  title: string;
  description: string;
  url: string;
  image: string;
}

const { title, description, url, image } = Astro.props;
---

<!doctype html>


<html lang="es" dir="ltr">
<Metahead title={title} description={description} url={url} image={image} />


  <body>
		<main>
			<slot />
		</main>
  </body>


</html>

<style is:global>
@tailwind utilities;


	html, body {
		@apply flex flex-col m-0 p-0 box-border min-h-screen  w-screen antialiased bg-bodydark text-fontlight;
	}

	main, section, div {
	@apply flex flex-col justify-center items-center w-full h-screen;
	}

	section, div {
		@apply m-0 p-8 gap-4 overflow-hidden text-center text-base font-normal;
	}
	
	
</style>
