---
// src/layouts/Layout.astro
import Metahead from '@layouts/Metahead.astro';
import Header from '@components/header/Header.astro';
import Footer from '@components/footer/Footer.astro';

interface LayoutProps {
  title: string;
  description: string;
  url: string;
  image: string;
}

const { title, description, url, image } = Astro.props as LayoutProps;
---

<!doctype html>


<html lang="es" dir="ltr">
  <head>
    <Metahead title={title} description={description} url={url} image={image} />
  </head>
  <body class="grid grid-cols-1 m-2 p-2 w-full max-w-md sm:min-w-96 bg-bodydark rounded-3xl">
    <Header />
       <!-- Content Section -->
        <main role="main">
          <slot />
        </main>
    <Footer />    
  </body>


</html>

<style is:global>
@tailwind utilities;

@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 400 800;
    font-optical-sizing: auto;
    font-display: swap;
    font-stretch: normal;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF;
    font-feature-settings: "kern", "liga", "calt";
    font-variation-settings: "wght" 400 800;
    lazy: "loading";
  }
  
  html {
    @apply flex flex-col justify-center items-center m-0 p-0 box-border min-h-screen w-screen antialiased bg-neutral-950 text-fontlight font-montserrat;
  }

   main {
    @apply flex justify-start items-center;
   }
    body {
      min-height: 100vh; /* Fallback */
      min-height: 100dvh; /* Dinámico */
      
    }


  /* Estilos globales */
h1, h2, h3, h4, h5, h6, p, li, a  {
    @apply m-0 p-0 text-center  text-base no-underline decoration-0 text-fontlight;
}

.carousel-container {
  max-width: 100%;
  padding: 20px 0;
}

.carousel-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.animate-scroll {
  animation: scroll 50s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

  
</style>
