<!doctype html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Basics</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>


	html, body {
		@apply flex flex-col m-0 p-0 box-border min-h-screen  w-screen antialiased bg-bodydark text-fontlight;
	}

	main, section, div {
	@apply flex flex-col bg-red-500 justify-center items-center w-full h-screen;
	}

	section, div {
		@apply m-0 p-8 gap-4 overflow-hidden text-center text-base font-normal;
	}
	
	
</style>
