---
import Metahead from '../layouts/Metahead.astro';
import Header from '../components/header/Header.astro';

interface Props {
  title: string;
  description: string;
  url: string;
  image: string;
}

const { title, description, url, image } = Astro.props;
---

<!doctype html>


<html lang="es" dir="ltr">
<Metahead title={title} description={description} url={url} image={image} />


  <body>

		<main>
      <Header />
			<slot />
		</main>
  </body>


</html>

<style is:global>
@tailwind utilities;

@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 400 800;
    font-optical-sizing: auto;
    font-display: swap;
    font-stretch: normal;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF;
    font-feature-settings: "kern", "liga", "calt";
    font-variation-settings: "wght" 400 800;
    lazy: "loading";
  }
  
	html, body {
		@apply  flex flex-col m-0 p-0 box-border min-h-screen  w-screen antialiased bg-neutral-950 text-fontlight font-montserrat justify-center items-center;
	}

	main {
	@apply flex flex-col justify-start items-center gap-4  w-full max-w-[540px] rounded-3xl overflow-hidden bg-bodydark m-2;
	}
 
	section {
		@apply m-0 p-0 text-center text-base font-normal flex flex-col justify-center items-center;
	} 

  /* Estilos globales */
h1, h2, h3, h4, h5, h6, p, li, a  {
    @apply m-0 p-0 text-center  text-base no-underline decoration-0 text-fontlight;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  display: none;
}
scrollbar-width: none; /* For Firefox */
-ms-overflow-style: none; /* For IE/Edge */
	 




.carousel-container {
  max-width: 100%;
  padding: 20px 0;
}

.carousel-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.animate-scroll {
  animation: scroll 50s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

  
</style>
