---
import Metahead from '../layouts/Metahead.astro';
import Menu from '../components/Menu.astro';

interface Props {
  title: string;
  description: string;
  url: string;
  image: string;
}

const { title, description, url, image } = Astro.props;
---

<!doctype html>


<html lang="es" dir="ltr">
<Metahead title={title} description={description} url={url} image={image} />


  <body>
	<Menu />
		<main>
			<slot />
		</main>
  </body>


</html>

<style is:global>
@tailwind utilities;

@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 400 800;
    font-optical-sizing: auto;
    font-display: swap;
    font-stretch: normal;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF;
    font-feature-settings: "kern", "liga", "calt";
    font-variation-settings: "wght" 400 800;
    lazy: "loading";
  }
  
	html, body {
		@apply  flex-col m-0 p-0 box-border min-h-screen  w-screen antialiased bg-bodydark text-fontlight font-montserrat justify-center items-center ;
	}

	main {
	@apply flex flex-col justify-center items-center w-full;
	}
 
	section {
		@apply m-0 p-0 text-center text-base font-normal flex flex-col justify-center items-center;
	} 

  /* Estilos globales */
h1, h2, h3, h4, h5, h6, p, li, a  {
    @apply m-0 p-0 text-center  text-base no-underline decoration-0 text-fontlight;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  display: none;
}
scrollbar-width: none; /* For Firefox */
-ms-overflow-style: none; /* For IE/Edge */
	 






 /* General link styles */
 a {
    text-decoration: none;
  }

  /* Glow effect for the first link (glow-icon and glow-text) */
  .glow-text {
    font-size: 1rem;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(90deg, #ff007f, #ffffff, #0073ff, #ff007f);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: glow-animation 3s linear infinite;
  }

  @keyframes glow-animation {
    0% {
      background-position: 200% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: -200% 0%;
    }
  }

  .glow-icon {
    mask-image: linear-gradient(90deg, #ff007f, #ffffff, #0073ff, #ff007f);
    -webkit-mask-image: linear-gradient(90deg, #ff007f, #ffffff, #0073ff, #ff007f);
    mask-size: 200% 200%;
    -webkit-mask-size: 200% 200%;
    animation: glow-icon-animation 3s linear infinite;
    background: linear-gradient(90deg, #ff007f, #ffffff, #0073ff, #ff007f);
    background-size: 200% 200%;
  }

  @keyframes glow-icon-animation {
    0% {
      background-position: 200% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: -200% 0%;
    }
  }

  /* Glow effect for the second link (glow-icon-alt and glow-text-alt) */
  .glow-text-alt {
    font-size: 1rem;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(90deg, #00ff00, #ffff00, #ff0000, #00ff00);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: glow-animation-alt 4s linear infinite;
  }

  @keyframes glow-animation-alt {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .glow-icon-alt {
    mask-image: linear-gradient(90deg, #00ff00, #ffff00, #ff0000, #00ff00);
    -webkit-mask-image: linear-gradient(90deg, #00ff00, #ffff00, #ff0000, #00ff00);
    mask-size: 200% 200%;
    -webkit-mask-size: 200% 200%;
    animation: glow-icon-animation-alt 4s linear infinite;
    background: linear-gradient(90deg, #00ff00, #ffff00, #ff0000, #00ff00);
    background-size: 200% 200%;
  }

  @keyframes glow-icon-animation-alt {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
</style>
